@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stripe</h1>
    <p class="lead">Stripe builds the most powerful and flexible tools for internet commerce. Whether you’re creating a subscription service, an on-demand marketplace, an e-commerce store, or a crowdfunding platform, Stripe’s meticulously designed APIs and unmatched functionality help you create the best possible product for your users. Millions of the world’s most innovative technology companies are scaling faster and more efficiently by building their businesses on Stripe.</p>
    <p><a href="http://stripe.com/docs" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>One-time Payment</h2>
        <p>
            This demo shows how to accept a one-time payment for a book with an embedded form.
        </p>
        <p>@Html.ActionLink("Details", "Index", "Book", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>One-time Payment Custom</h2>
        <p>
            This demo shows how to accept a one-time payment for a book with a custom form.
        </p>
        <p>@Html.ActionLink("Details", "Custom", "Book", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Subscription Payments</h2>
        <p>This demo shows you how to accept recurring payments for a subscription software service.</p>
        <p>@Html.ActionLink("Details", "Index", "Subscription", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>