@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Something went wrong</h1>
<br />
<br />
<h4>An error occurred while processing your request. Please try again after sometime.</h4>
<br />
<br />
<h6 class="text-warning">@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>

